<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="C:\Users\madhu\Desktop\passport-auth-login\public\main.css">

</head>
<body>
  <h1>Welcome to the Dashboard, <%= user.username %></h1>
  <h2>Your Links:</h2>
  <ul>
    <% user.links.forEach(link => { %>
      <li><a href="<%= link.url %>"><%= link.title %></a></li>
    <% }) %>
  </ul>
  <p>Your Balance: $<%= user.balance.toFixed(2) %></p>
  <a href="/logout">Logout</a>
</body>
</html>
